// Миксины===================================
@mixin anim($time, $delay) {
	-webkit-transition: all $time ease $delay;
	-moz-transition: all $time ease $delay;
	-ms-transition: all $time ease $delay;
	-o-transition: all $time ease $delay;
	transition: all $time ease $delay;
}

@mixin anim_cubic($time, $delay) {
	-webkit-transition: $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-moz-transition: $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-ms-transition: $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-o-transition: $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	transition: $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}

@mixin rotate($deg) {
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}
@mixin scale($num) {
	-moz-transform: scale($num);
	-ms-transform: scale($num);
	-webkit-transform: scale($num);
	-o-transform: scale($num);
	transform: scale($num);
}
@mixin skew($num) {
	-moz-transform: skew($num);
	-ms-transform: skew($num);
	-webkit-transform: skew($num);
	-o-transform: skew($num);
	transform: skew($num);
}
@mixin cnt($h) {
	display: flex;
	flex-direction: column;
	height: $h;
	text-align: center;
	align-items: stretch;
	justify-content: center;
}
@mixin tr($x, $y, $z) {
	transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}
@mixin flexboxonline() {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}
@mixin flexfolder($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}
// Миксины===================================

// ШРИФТЫ====================================
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// Шрифт по умолчанию========================

$fontfamily: "Lato", sans-serif;

// Шрифт по умолчанию========================
// ШРИФТЫ====================================

// Переменные================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
// Переменные================================

// Файл обнуляющих стилей====================
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: $fontfamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	&.lock {
		overflow: hidden;
		@media (max-width: $md3) {
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,
button,
textarea {
	font-family: $fontfamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
// Файл обнуляющих стилей====================

// Оболочка==================================
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 840px;
	margin: 0 auto;
}

// Оболочка==================================

// Основная сетка============================
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
// Основная сетка===========================

// Основной блок============================
.content {
	flex: 1 1 auto;
}

.mainblock {
	&__img {
		padding-bottom: 155px;
	}

	&__logo {
		display: flex;
		justify-content: center;
		padding: 100px 0 120px 0;
		&::after {
			content: url(../img/logoheader.png);
		}
	}

	&__title {
		text-align: center;
		font-size: 34px;
		font-weight: 900;
		line-height: 40px;
		letter-spacing: 5.44px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 50px;

		p {
			&:nth-child(2) {
				text-transform: lowercase;
				font-size: 26px;
				font-weight: normal;
				letter-spacing: 4.16px;
			}
		}
	}

	&__line {
		width: 105px;
		height: 2px;
		background-color: #fff;
		margin: 0 auto;
		margin-bottom: 200px;
	}

	&__btn {
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		letter-spacing: 0.93px;
		font-size: 15px;
		display: flex;
		width: 180px;
		height: 50px;
		border: 2px solid #fff;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 75px;
		&:hover {
			width: 200px;
			font-weight: 700;
			transition: 0.5s;
		}
	}

	&__arrow {
		display: flex;
		justify-content: center;
		&::after {
			content: url(../img/Arrow.png);
		}
	}
}

.menu {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	&__body {
		max-width: 425px;
		margin: 0 auto;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		text-transform: uppercase;
		align-items: center;
		height: 60px;

		a {
			color: #3c3c3c;
			&:hover {
				color: #cacaca;
			}
			&:visited {
				color: #ada074;
				font-weight: 700;
			}
		}
	}
}

.about {
	padding: 140px 0 95px 0;

	&__header {
		margin: 0px 0px 65px 0px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__text {
		max-width: 690px;
		font-weight: 300;
		line-height: 26px;
		color: #868585;
		text-align: center;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		margin: 0 5px;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&__column {
		padding: 0 5px;
		flex: 0 0 33.333%;
	}
}
.title {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 9px;
	font-size: 34px;
}
.line {
	width: 80px;
	height: 1px;
	background-color: #000;
	margin: 0 auto;
	margin-bottom: 50px;
}
.item-about {
	&__icon {
		margin: 0 auto;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		border: 2px solid #f1f1f1;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
	}

	&__title {
		text-align: center;
		color: #000;
		font-size: 22px;
		letter-spacing: 3.5px;
		text-transform: uppercase;
		margin-bottom: 35px;
	}

	&__text {
		text-align: center;
		font-weight: 300;
		line-height: 26px;
		color: #868585;
	}
}

.portfolio {
	background-color: #e1e1e1;
	padding: 110px 0 60px 0;
	&__body {
		max-width: 1100px;
		margin: 0 auto;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__menu {
		max-width: 340px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 135px;
		a {
			color: #3c3c3c;
			&:visited {
				color: #ada074;
				font-weight: 700;
			}
		}
	}

	&__row {
		max-width: 1110px;
	}

	&__column {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 65px;
	}

	&__img {
		width: 100%;
		max-width: 540px;
		height: 365px;
		background-color: #eaeaea;
		margin-bottom: 15px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	&__btn {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		letter-spacing: 0.93px;
		font-size: 16px;
		width: 185px;
		height: 45px;
		border: 1px solid #000;
		color: #000;
		&:hover {
			width: 200px;
			font-weight: 700;
			transition: 0.5s;
		}
	}
}

.partners {
	&__img {
		padding: 150px 0;
	}

	&__body {
		margin: 0 auto;
		max-width: 590px;
	}

	&__title {
		text-align: center;
		font-size: 30px;
		font-weight: 300;
		letter-spacing: 1.83px;
		color: #fff;
		margin-bottom: 90px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		&:nth-child(1)::after {
			content: url(../img/logo.png);
		}
		&:nth-child(2)::after {
			content: url(../img/Archiq.png);
		}
		&:nth-child(3)::after {
			content: url(../img/Thomsoon.png);
		}
		&:nth-child(4)::after {
			content: url(../img/alex.png);
		}
	}
}

.contact {
	padding: 150px 0 100px 0;
	&__title {
		margin-bottom: 40px;
	}

	&__body {
		max-width: 800px;
		margin: 0 auto;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&__block {
		max-width: 250px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__text {
		font-weight: 300;
		line-height: 26px;
	}

	&__name {
		font-weight: 700;
	}

	&__rowlink {
		display: flex;
		justify-content: space-between;
		max-width: 70px;
		a {
			&:nth-child(1):before {
				content: url(../img/Facebook.png);
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				border: 2px solid #000;
				width: 30px;
				height: 30px;
			}
			&:nth-child(2):before {
				content: url(../img/layer.png);
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				border: 2px solid #000;
				width: 30px;
				height: 30px;
			}
		}
	}

	&__mailto {
		font-weight: 700;
		color: #000;
	}
}
.form-contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 380px;
	&__name {
		font-weight: bold;
		letter-spacing: 0.84px;
		input {
			margin-top: 15px;
			width: 160px;
			height: 35px;
			background-color: #f8f7f7;
			border-top: 1px solid #000;
		}
	}

	&__mail {
		letter-spacing: 0.84px;
		font-weight: 700;
		input {
			margin-top: 15px;
			width: 160px;
			height: 35px;
			background-color: #f8f7f7;
			border-top: 1px solid #000;
		}
	}

	&__message {
		margin-top: 75px;
		font-weight: bold;
		letter-spacing: 0.84px;
		textarea {
			margin: 15px 0 40px 0;
			width: 380px;
			height: 120px;
			background-color: #f8f7f7;
			border-top: 1px solid #000;
		}
	}

	&__send {
		display: flex;
		justify-content: flex-end;
		a {
			color: #000;
			&:hover {
				color: #3c3c3c;
				transition: 0.5s;
			}
		}
	}
}

.footer {
	height: 275px;
	background-color: #3c3c3c;
	&__body {
		max-width: 260px;
		margin: 0 auto;
		padding-top: 50px;
	}
	&__img {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
		a {
			color: #a4a4a4;
		}
	}

	&__text {
		text-align: center;
		color: #6c6c6c;
	}
}
